This is a Python notebook to train a Keras model for room occupancy detection. The model will be deployed to a web application.

In [1]:
import numpy as np
import pandas as pd

In [2]:
filename = 'occupancy_data/datatraining.txt'
df_training = pd.read_csv(filename)
# inspect the data
df_training.head(7)

,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.250000,0.004793,1
2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.000000,0.004783,1
3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.500000,0.004779,1
4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.250000,0.004772,1
5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.500000,0.004757,1
6,2015-02-04 17:55:59,23.10,27.2000,419.0,701.000000,0.004757,1
7,2015-02-04 17:57:00,23.10,27.2000,419.0,701.666667,0.004757,1

In [3]:
# ignore the datetime column
X_train = df_training.iloc[:,1:6].values
y_train = df_training['Occupancy'].values
y_train = y_train.reshape(-1,1)

# scale the training data

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)

In [4]:
# create a very simple NN using keras

from keras.models import Sequential
from keras.layers import Dense, Activation
from keras.utils import to_categorical
y_train = to_categorical(y_train)

model = Sequential()
# create a 2 layer network
model.add(Dense(5,activation='relu'))
model.add(Dense(2,activation='softmax'))

from keras.optimizers import SGD
opt = SGD(lr=0.01)
model.compile(loss = "categorical_crossentropy", optimizer = opt,metrics=['accuracy'])
model.fit(X_train,y_train,epochs=5,batch_size=20)

Using TensorFlow backend.

Epoch 1/5
8143/8143 [==============================] - 1s 103us/step - loss: 0.3204 - acc: 0.8843
Epoch 2/5
8143/8143 [==============================] - 0s 57us/step - loss: 0.1534 - acc: 0.9624
Epoch 3/5
8143/8143 [==============================] - 0s 56us/step - loss: 0.1066 - acc: 0.9769
Epoch 4/5
8143/8143 [==============================] - 0s 57us/step - loss: 0.0857 - acc: 0.9828
Epoch 5/5
8143/8143 [==============================] - 0s 56us/step - loss: 0.0751 - acc: 0.9866

In [5]:
model.save('model.h5')  # creates a HDF5 file 'my_model.h5'
del model  # deletes the existing model